**/bin/
**/obj/
.vs/
.vscode/
packages/
TestResults/
coverage*/
*.trx
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
Thumbs.db
ehthumbs.db
*.nupkg
*.snupkg
node_modules/
# Ignorar arquivos de banco de dados SQLite
*.db
*.db-shm
*.db-wal

# Ignore local tool installs and config directories
.tools/
.Config/